body {
    text-align: center;
    margin: 0;
}
#logo {
    width: 200px;
}
p strong {
    text-transform: uppercase;
}

#logo + p {
    display: block;
    color: #107777;
    background-color: #FDFBF1;
    padding: 10px;
    border-top: 1px solid bisque;
}

#titolo {
    font-size: 2em;
    text-align: center;
}

.contenuto {
    width: 40%;
    margin: auto;
    text-align: left;
}
figure {
    text-align: center;
}

video {
    width: 100%;
    margin: 0;
}
#contenitore {
    border-left: 3px solid #FFD877;
    padding-left: 1rem;
}
span {
    display: block;
    color: #B5460F;
    text-transform: uppercase;
}

ol li p:first-of-type {
    font-weight: bold;
}

.link {
    text-transform: capitalize;
    color: #107777;
}

hr {
    color: #C4F3F2;
    background-color: #C4F3F2;
    border: 0;
    height: 1px;
}
