<main class="mb-5">
    <section class="container-fluid ps-5 d-flex justify-content-start align-items-center py-5" id="filmTopMain">
        <div class="row w-50">
            <img src="https://occ-0-4525-2581.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABZNK4G2vjR8cm1iC3k8u9VX8vrcHZT2cut7Q5t1pyE7xOTTA5NuTl0STYFYPizJ0pLLsvywL4H2mA84hS9lDn5mo-Nxb4XHFesAnN7dv0gRg.png?r=777"
            class="col-12 mb-4"    
            id="titoloFilmTopMain">
            <h2 class="col-12 align-self-start text-white mb-3">Interstellar</h2>
            <p class="col-12 align-self-start text-white">2014 | 13+ | 2h 49m | Fantascienza</p>
            <p class="col-12 align-self-start text-white">L'umanità è sull'orlo dell'estinzione e un gruppo di astronauti viaggia attraverso un wormhole alla ricerca di un altro pianeta abitabile.</p>
        </div>

    </section>
    <section class="container-fluid d-flex justify-content-between align-items-center" id="carouselBar">
        <div class="row w-75">

            <h1 class="text-white col-4 display-5 m-0">TV Shows</h1>
            <select class="text-secondary col-3 border border-white form-select-sm bg-black fs-5 my-3" name="Genres"
                id="Genres">
                <option value="select">Genres</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
            </select>


        </div>
        <div>
            <button type="button" class="btn btn-dark d-inline-flex align-content-center justify-content-center me-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <button type="button" class="btn btn-dark d-inline-flex align-content-center justify-content-center ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-grid-fill" viewBox="0 0 16 16">
                    <path
                        d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z" />
                </svg>
            </button>
        </div>
    </section>
    <br>
    <br>
    <section class="mb-5 carouselMain">
        <h2 class="text-white mb-4">Trending Now</h2>
        <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
            <div class="carousel-inner ps-5 pe-5">
                <div class="carousel-item active">
                    <div class=" d-flex flex-sm-column flex-md-row justify-content-center align-content-center">
                        <img src="../../../assets/img/media0.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media1.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media2.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media3.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media4.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media5.webp" class="films d-block" alt="">
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="d-flex flex-sm-column flex-md-row justify-content-center">
                        <img src="../../../assets/img/media18.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media19.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media20.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media21.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media22.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media23.webp" class="films d-block" alt="">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev align-self-center" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon text-white"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next align-self-center" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon text-white"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="mb-5 carouselMain">
        <h2 class="text-white mb-4">Watch It Again</h2>
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ps-5 pe-5">
                <div class="carousel-item active">
                    <div class="d-flex flex-sm-column flex-md-row justify-content-center">
                        <img src="../../../assets/img/media6.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media7.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media8.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media9.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media10.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media11.jpg" class="films d-block" alt="">
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-sm-column flex-md-row justify-content-center">
                        <img src="../../../assets/img/media24.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media25.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media26.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media27.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media28.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media29.jpg" class="films d-block" alt="">
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev align-self-center" type="button"
                data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon text-white"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next align-self-center" type="button"
                data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                <span class="carousel-control-next-icon text-white"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="mb-5 carouselMain">
        <h2 class="text-white mb-4">New Releases</h2>
        <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ps-5 pe-5">
                <div class="carousel-item active">
                    <div class="d-flex flex-sm-column flex-md-row justify-content-center">
                        <img src="../../../assets/img/media12.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media13.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media14.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media15.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media16.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media17.jpg" class="films d-block" alt="">
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-sm-column flex-md-row justify-content-center">
                        <img src="../../../assets/img/media30.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media31.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media32.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media0.webp" class="films d-block" alt="">
                        <img src="../../../assets/img/media1.jpg" class="films d-block" alt="">
                        <img src="../../../assets/img/media2.webp" class="films d-block" alt="">
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev align-self-center" type="button"
                data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon text-white"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next align-self-center" type="button"
                data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                <span class="carousel-control-next-icon text-white"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>