<div class="container">
    <form #form="ngForm" (submit)="onSubmit(form)">
        <label for="name" class="form-label text-white">Nome</label>
        <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="name"
            required
        />
        <label for="email" class="form-label text-white">Email</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" />
        <button type="submit" class="btn btn-danger">Invia</button>
    </form>
</div>