body {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

#netflixLogo {
    width: 150px;
}

#kidsIcon,
#avatar {
    width: 30px;
}

.films {
    /* */
    margin: 0 10px;
}

@media screen and (min-width: 768px) {
    .films {
        width: 14%;
    }
}

.films img {
    max-width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    text-align: center;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #E50914;
}

.logoFooter {
    width: 5%;
}

@media screen and (min-width: 768px) {
    .logoFooter {
        width: 20%;
        margin-right: 2px;
    }
}

#avatarProfilo {
    width: 90%;
}

hr {
    height: 5px;
}

#language {
    width: 50%;
}

#btnEdit {
    width: 15%;
}

#flexCheckDefault,
#flexCheckChecked {
    width: 20px !important;
    height: 20px !important;
    margin-right: 3px;
}


#avatarAccount {
    width: 30px;
    height: 30px;
}