.card-img-top img {
    width: 100%;
    height: 45vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btnLike {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.btnLikePremuto {
    background-color: white;
    color: red;
    border: 1px solid red;
}