<div class="card my-3" [ngClass]="{'border-success': post.active }">
    <div class="card-header d-flex justify-content-between">
        <div class="badges">
            <span class="badge me-1" appBackgroundRandom *ngFor="let tag of post.tags">{{tag | uppercase}}</span>
        </div>
        <button class="btn btn-outline-danger" (click)="toggleEdit()"> Edit </button>
    </div>
    <div class="card-body" *ngIf="!this.edit">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
    </div>    
    <div class="card-body" *ngIf="this.edit">
        <ng-content></ng-content>
    </div>
</div>